<main>
    <section class="apresentacaoObservatorio">
        <h2 class="tituloConteudo">Observatório Tecnológico do Futuro!</h2>
        <p class="explicacao">
            Nesta página, exploraremos as tecnologias atuais que estão moldando o mundo ao nosso redor. 
            Do avanço da inteligência artificial à realidade virtual e às tecnologias emergentes, 
            estamos aqui para ajudá-lo a descobrir o que está além do horizonte tecnológico.
        </p>
    </section>

    <h2 class="tituloConteudo">Tecnologias</h2>
    <section class="menuDeTecnologias">
        <ul>
            <li>
                <a href="detalhesTecnologia" class="containerImagensLink">
                    <img src="/images/imagem_IA.png"
                     alt="Imagem referente ao link para ler sobre IA"
                     width="100"
                     height="100"
                     class="imagensParaLink">
                    <h4>IA (inteligência Artifical)</h4>
                </a>
            </li>
        </ul>
    </section>
</main>